div.head-row {
    background-image: url("../Images/clean.jpg");
    background-repeat: no-repeat;
    background-position: top;
    height: 100px;
    width: 100px;
    
}


.menu-Button {
    background-color: darkgrey;
    color:black
}

.menu-Button:hover {
    border-color: black;
    background-color: lightcoral;

}

.container-fluid {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

img.background {
    height: 100%;
    width: 100%;
}





.tab {
    margin-left: 25%;
}


