<head>
    @Styles.Render("~/Content/PCStyleSheet.css")
</head>
<body>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4" id="image1">
            <img class="background" src="~/Images/clean.jpg" />
        </div>
        <div class="col-sm-4 col-md-4" id="image2">
            <img class="background" src="~/Images/office.jpg" />
        </div>
        <div class="col-sm-4 col-md-4" id="image3">
            <img class="background" src="~/Images/workout.jpg" />
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="textBubble">
            <div class="col-xs-1 col-md-6 col-lg-offset-4 col-lg-3">
                <img class="bubble" src="~/Images/HomePageBubble.png" />
            </div>
        </div>
        <div class="row" >
            <div class="col-lg-3">
                <img src="~/Images/cutoutbackgroundtest.png" />
            </div>
        </div>
        
    </div>
    
</body>



