
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <h2>What is Productivity Coach?</h2>
</div>
<div class="row">
    <p class="col-xs-12 col-md-9">
        Productivity Coach is designed to help you accomplish what YOU want to accomplish. You will tell it what task you want to do, and how often you want to do it. You can then check in with the Coach daily,
        updating the tasks you have completed or check in with how you are doing.
    </p>
</div>
<br />
<br />
<div class="row">
    <h2>How Do I Use Productivity Coach?</h2>
</div>
<div class="row">
    <p class="col-xs-12 col-md-9">
        Once you have an account, you can log in and set up what tasks you want to accomplish, and how often. After you have done that, you will log in daily to check off certain tasks and get your timers for others. After some time,
        you can check your reports page to see how you are doing, and get feedback from the coach. Careful, he can be a jerk.
    </p>
</div>
<br />
<br />
<div class="row">
    <h2>What Kind of Tasks Can I Do?</h2>
</div>
<div class="row">
    <p class="col-xs-12 col-md-9">
        There are currently 4 types of tasks supported by PC. Each task comes with the option to customize how often you want to complete it.
    </p><br />
</div>
<div class="row">
    <ul class="tab">
        <li>Checklist: I want to complete a task, once per _________.</li>
        <li>Countdown: I want to do something for _______ amount of time now.</li>
        <li>I want to do something for _______ amount of time over a long period.</li>
        <li>CompleteBy: I want to get something done by a date.</li>
    </ul>
</div>
<div class="row">
    <p><br /><br /></p>
</div>
<br />
<br />




